<p id="notice"><%= notice %></p>

<h1>Posts</h1>

  <div class="row">
    <% @posts.each do |post| %>
      <div class="card">
        <h3><%= post.subject %></h3>
        <div><%= post.body %></div>
          <%= link_to 'Show', post, class: "card-link" %>
          <%= link_to 'Edit', edit_post_path(post), class: "card-link" %>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "card-link" %>
      </div>
    <% end %>
  </div>


<br>

<%= link_to 'New Post', new_post_path %>
